<div class="container">
  <div class="main-div">
    <h1>Hänga gubbe</h1>
    <div class="hangman">
      {{ printOut }}
    </div>
    <br />
    <div class="login-form">
      <form class="form-group">
        <div>
          <input type="text" class="form-control" name="guessChars" />
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" (click)="guessChar()">Gissa bokstav</button>
          <button class="btn" (click)="guessWord()">Gissa ord</button>
        </div>
      </form>
      <a routerLink="/games"><button class="btn">Tillbaka till spel</button></a>
    </div>
  </div>
</div>