<div class="container">
  <div class="main-div">
    <h1>Hänga gubbe</h1>
    <div class="hangman">
      {{ hangmanFigure }}
    </div>
    <div>
      <p style="letter-spacing: 1em; margin-top: 1em;">{{ word }}</p>
      <p>Gissade bokstäver: {{ guessedLetters }}</p>
      <p>Återstående gissningar: {{ remainingGuesses }}</p>
      <p class="warning">{{ errorText }}</p>
    </div>
    <br />
    <div class="login-form">
      <form class="form-group" #f="ngForm" (ngSubmit)="makeAGuess(f)">
        <div>
          <label>Gissa på en bokstav i taget</label>
          <input type="text" class="form-control" ngModel name="inputChars" minlength="1" maxlength="1" required autocomplete="off" />
        </div>
        <div class="btn-group">
          <input type="submit" class="btn btn-primary" style="margin-top: 1em; padding: 0 1em" value="Gissa" />
        </div>
      </form>
      <a routerLink="/games"><button class="btn">Tillbaka till spel</button></a>
    </div>
  </div>
</div>