<div class="container">
  <div class="main-div">
    <h1>Hangman</h1>
    <div class="hangman">
      {{ state }}
    </div>
    <br />
    <div class="login-form">
      <form class="form-group">
        <div>
          <input type="text" class="form-control" name="guessChars" />
        </div>
        <div>
          <span><button class="btn" (click)="guessChar()">Guess char</button></span>
          <span><button class="btn" (click)="guessWord()">Guess word</button></span>
</div>
      </form>
    </div>
  </div>
</div>