<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Logga in</h2>
      </div>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="username">Användarnamn</label>
            <input type="username" name="username" id="username" ngModel class="form-control" required/>
          </div>
          <p>
            <button type="submit" class="btn btn-primary">Logga in</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>