<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Registrering</h2>
        <p>Skriv in din email och ditt lösenord</p>
      </div>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
          <div class="alert alert-danger" *ngIf="userExistMessage">
            Användaren existerar redan.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Lösenord</label>
          <input type="password" name="password" id="password" ngModel class="form-control" minlength="6" #pw="ngModel" required>
          <label for="password">Repetera lösenord</label>
          <input type="password" name="rpassword" id="rpassword" ngModel class="form-control" #rpw="ngModel" required>
          
          <div class="alert alert-danger" *ngIf="f.invalid && (f.dirty || f.touched)">
            <div *ngIf="pw.errors.minlength">
              Lösenordet måste vara minst 6 tecken långt
            </div>
            <div *ngIf="pw.value != rpw.value">
              Lösenorden matchar inte
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Registrera</button>
      </form>
    </div>
  </div>
</div>